#services .items {
  display: block;
  padding: 1rem;
}

/* #services .items .item {
  display: flex;
  text-align: left;
} */

/* Smartphones */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center; 
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  #showcase .showcase-content {
    margin-top: -2rem;
  }

  #about {
    display: block;
  }

  #about .about-img {
    display: none;
  }

  #contact {
    display: block;
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
    border-top: 4px solid #333;
  }
}